body {
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  .logo {
    float: left;
  }
  /* ~~ Top Navigation Bar ~~ */
  
  #navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
  }
  
  .navigation-bar {
    background-color: red;
    height: 70px;
    width: 100%;
    text-align:center;
  }
  .navigation-bar img{
  float:left;
  }
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: white;
    font-size: 20px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }
  .text p {
      color: blue;
  }
  p {
      color: white;
  }

  h2 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 35px;
      color: white;
  }
   .Empty {
       color: blue;
   }
  }

  #MX {
      font-family: 'Times New Roman', Times, serif;
      font-size: 50px;
      color: red;
  }
  #menu {
    float: right;
  }
  .foot-Dom {
      width: 1200px;
      height: 300px;
      background-color: red;
  }

#contact {
    height: 70px;
    width: 100%;
    text-align:center;
}

